.home-btn{
    padding: 10px 30px;
    background-color: rgba(187, 184, 184, 0.267);
    border-radius: 15px;
    border: none;
    margin-right: 20px;
    &:active{
        background-color: rgb(168, 168, 168);
    }
    &:hover{
        background-color: rgb(187, 187, 187);
    }
}
.btn-container{
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    width: 100%;
    flex-wrap: wrap;
}


